<%= form_with(model: [:article, @question]) do |form| %>

  <div class="row">

    <% if @question.errors.any? %>
      <div class="alert-danger">
        <span>
          Se han encontrado
          <%= pluralize(@question.errors.count, "error") %>:
        </span>
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <strong><%= form.label :pregunta %></strong>
        <%= form.text_field :pregunta, class:"form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="article_id"><strong>Artículo</strong></label>
        <select name="question[article_id]" class="form-control">
          <option value="null">Seleccione Artículo</option>
          <% Article.all.each do |c| %>
            <% if c.id == 2 || c.id == 5 || c.id == 8 %>
              <option value="<%= c.id %>" <%= @question.article_id == c.id ? "selected" : "" %>>
                <% if c.id == 2 %>
                  <%= c.nombre %> Empresa
                <% end %>

                <% if c.id == 5 %>
                  <%= c.nombre %> Hogar
                <% end %>

                <% if c.id == 8 %>
                  <%= c.nombre %> Móvil
                <% end %>
              </option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <strong><%= form.label :respuesta %></strong>
        <%= form.text_area :respuesta, class:"form-control", size: "20x5" %>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= form.submit "Guardar", class: "btn btn-primary", style: "margin-right: 10px" %>
    <%= link_to 'Cancelar', :back, class: "btn btn-warning text-white" %>
  </div>
<% end %>