<div class="text-center">
  <h2>Contenido <%= @attack.nombre %></h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
</div>

<table class="table col-md-10">
  <thead>
  <tr>
    <th class="col-md-3 text-center">Título</th>
    <th class="col-md-3 text-center">Categoría</th>
    <th colspan="2" class="col-md-3 text-center">Acciones</th>
  </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr class="text-center">
        <% if content.attack_id == @attack.id %>
          <td class="align-middle"><%= content.titulo %></td>
          <% if @attack.article_id == 3 %>
            <td class="align-middle">Empresa</td>
          <% end %>
          <% if @attack.article_id == 6 %>
            <td class="align-middle">Hogar</td>
          <% end %>
          <% if @attack.article_id == 9 %>
            <td class="align-middle">Móvil</td>
          <% end %>
          <td class="align-middle">
            <%= link_to '', edit_article_attack_content_path(@attack.article_id, content.attack_id, content), class: "btn btn-info text-white bi bi-pencil" %>
            <%= link_to '', article_attack_content_path(@attack.article_id, content.attack_id, content), class: "btn btn-danger text-white bi bi-trash", method: :delete,
                        data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to ' Nuevo Contenido', new_article_attack_content_path, class:"btn btn-primary text-white bi bi-plus-circle" %>
</div>