<div class="col-md-2 text-center">

  <ul class="col-sm-12 navbar-nav myInformation" style="list-style: none">

    <li class="nav-item">
      <% if cookies[:moon] %>
        <strong>
          <%= link_to " Últimas noticias", extra_path(:id => 1),
                      class: "nav-link text-white bi bi-newspaper" %>
        </strong>
      <% else %>
        <strong>
          <%= link_to " Últimas noticias", extra_path(:id => 1),
                      class: "nav-link text-dark bi bi-newspaper" %>
        </strong>
      <% end %>
      <ul style="list-style: none; margin-right: 30px">
        <li>Noticia 1</li>
        <li>Noticia 2</li>
        <li>...</li>
        <li><%= link_to "Detalles", extra_path(:id => 1) %></li>
      </ul>
    </li>

    <li class="nav-item mt-2">
      <% if cookies[:moon] %>
        <strong>
          <%= link_to " Conceptos sobre seguridad", extra_path(:id => 2),
                      class: "nav-link text-white bi bi-info-circle" %>
        </strong>
      <% else %>
        <strong>
          <%= link_to " Conceptos sobre seguridad", extra_path(:id => 2),
                      class: "nav-link text-dark bi bi-info-circle" %>
        </strong>
      <% end %>
      <ul style="list-style: none; margin-right: 30px">
        <li>Malware</li>
        <li>Phishing</li>
        <li>...</li>
        <li><%= link_to "Detalles", extra_path(:id => 2) %></li>
      </ul>
    </li>

    <li class="nav-item mt-2">
      <% if cookies[:moon] %>
        <strong>
          <%= link_to " Organismos sobre seguridad", extra_path(:id => 3),
                      class: "nav-link text-white bi bi-bank" %>
        </strong>
      <% else %>
        <strong>
          <%= link_to " Organismos sobre seguridad", extra_path(:id => 3),
                      class: "nav-link text-dark bi bi-bank" %>
        </strong>
      <% end %>
      <ul style="list-style: none; margin-right: 30px">
        <li>AEPD</li>
        <li>ENS</li>
        <li>...</li>
        <li><%= link_to "Detalles", extra_path(:id => 3) %></li>
      </ul>
    </li>

    <li class="nav-item mt-2">
      <% if cookies[:moon] %>
        <strong>
          <%= link_to " Leyes sobre seguridad", extra_path(:id => 4),
                      class: "nav-link text-white bi bi-vector-pen" %>
        </strong>
      <% else %>
        <strong>
          <%= link_to " Leyes sobre seguridad", extra_path(:id => 4),
                      class: "nav-link text-dark bi bi-vector-pen" %>
        </strong>
      <% end %>
      <ul style="list-style: none; margin-right: 30px">
        <li>LSSI</li>
        <li>LOPDGDD</li>
        <li>...</li>
        <li><%= link_to "Detalles", extra_path(:id => 4) %></li>
      </ul>
    </li>

  </ul>

</div>