<header class="col-md-12 col-xs-12">

  <div class="row col-md-12">
    <div class="col-4 titulo text-center">
      <h1 class="m-0"><%= link_to "SecurityWorld", root_path, class: "text-dark",
                                  style: "text-decoration: none" %></h1>
      <p class="text-dark m-0">La seguridad es lo primero</p>
    </div>

    <div class="offset-6 col-md-2 text-center mt-0">
      <%= link_to "", new_user_registration_path, class: "bi bi-person-circle text-dark",
                  style: "font-size: 50px" %>
    </div>
  </div>

  <nav class="navbar-expand mt-2 col-md-10" style="background-color: #202CD1">

    <div class="collapse navbar-collapse">
      <ul class="col-md-12 navbar-nav mr-auto text-center">
        <li class="col-md-4 nav-item">
          <%= link_to " Empresa", category_path(:id => 1), class: "nav-link text-white bi bi-building" %>
        </li>
        <li class="col-md-4 nav-item">
          <%= link_to " Hogar", category_path(:id => 2), class: "nav-link text-white bi bi-house-door" %>
        </li>
        <li class="col-md-4 nav-item">
          <%= link_to " Móvil", category_path(:id => 3), class: "nav-link text-white bi bi-phone" %>
        </li>
      </ul>

    </div>
  </nav>
</header>