<header class="col-md-12">

  <div class="row col-md-12">

    <div class="row col-md-11 col-sm-5">
      <div class="col-sm-4 titulo text-center">
        <% if cookies[:moon] %>
          <h1 class="m-0"><%= link_to "SecurityWorld", root_path, class: "text-white",
                                      style: "text-decoration: none" %></h1>
        <% else %>
          <h1 class="m-0"><%= link_to "SecurityWorld", root_path, class: "text-dark",
                                      style: "text-decoration: none" %></h1>
        <% end %>
        <p class="m-0 col-sm-12">La seguridad es lo primero</p>
      </div>
    </div>

    <div class="row col-md-1 col-sm-6">
      <div class="text-center mt-0">
        <% if cookies[:moon] %>
          <%= link_to "", new_user_registration_path, class: "bi bi-person-circle text-white",
                            style: "font-size: 55px" %>
        <% else %>
          <%= link_to "", new_user_registration_path, class: "bi bi-person-circle text-dark",
                            style: "font-size: 55px" %>
        <% end %>
      </div>
    </div>

  </div>

  <nav class="navbar-expand col-md-10" style="background-color: #202CD1">

    <div class="collapse navbar-collapse">
      <ul class="col-md-12 navbar-nav m-auto text-center">
        <% if user_signed_in? && current_user.id == 1  %>
          <li class="col-md-3 nav-item">
            <%= link_to " Categorías", categories_path, class: "nav-link text-white bi bi-card-list" %>
          </li>
          <li class="col-md-3 nav-item">
            <%= link_to " Artículos", articles_path ,class: "nav-link text-white bi bi-clipboard-check" %>
          </li>
          <li class="col-md-3 nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white bi bi-info-circle" role="button"
               id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Información
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <%= link_to "Información", extras_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to " Noticias", extra_extra_infos_path(:id => 1, :extra_id => 1), class: "dropdown-item bi bi-newspaper" %>
              </li>
              <li>
                <%= link_to " Conceptos", extra_extra_infos_path(:id => 2, :extra_id => 2), class: "dropdown-item bi bi-info-circle" %>
              </li>
              <li>
                <%= link_to " Organismos", extra_extra_infos_path(:id => 3, :extra_id => 3), class: "dropdown-item bi bi-bank" %>
              </li>
              <li>
                <%= link_to " Leyes", extra_extra_infos_path(:id => 4, :extra_id => 4), class: "dropdown-item bi bi-vector-pen" %>
              </li>
            </ul>
          </li>
          <li class="col-md-3 nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white bi bi-file-person" role="button"
               id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Cuenta
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <%= link_to " Mi perfil", comments_path, class:"dropdown-item bi bi-file-person"  %>
              </li>
              <li>
                <%= link_to " Cerrar sesión", destroy_user_session_path, method: :delete,
                            class:"dropdown-item bi bi-x-circle"  %>
              </li>
            </ul>
          </li>
        <% elsif user_signed_in? && current_user.id != 1 %>
          <li class="col-md-3 nav-item">
            <%= link_to " Empresa", category_path(:id => 1), class: "nav-link text-white bi bi-building" %>
          </li>
          <li class="col-md-3 nav-item">
            <%= link_to " Hogar", category_path(:id => 2), class: "nav-link text-white bi bi-house-door" %>
          </li>
          <li class="col-md-3 nav-item">
            <%= link_to " Móvil", category_path(:id => 3), class: "nav-link text-white bi bi-phone" %>
          </li>
          <li class="col-md-3 nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white bi bi-file-person" role="button"
               id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Cuenta
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <%= link_to " Mi perfil", comments_path, class:"dropdown-item bi bi-file-person"  %>
              </li>
              <li>
                <%= link_to " Cerrar sesión", destroy_user_session_path, method: :delete,
                            class:"dropdown-item bi bi-x-circle"  %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="col-md-4 nav-item">
            <%= link_to " Empresa", category_path(:id => 1), class: "nav-link text-white bi bi-building" %>
          </li>
          <li class="col-md-4 nav-item">
            <%= link_to " Hogar", category_path(:id => 2), class: "nav-link text-white bi bi-house-door" %>
          </li>
          <li class="col-md-4 nav-item">
            <%= link_to " Móvil", category_path(:id => 3), class: "nav-link text-white bi bi-phone" %>
          </li>
        <% end %>
      </ul>

    </div>
  </nav>

</header>