<header class="col-md-12 col-xs-12">

  <div class="row col-md-12">
    <div class="col-4 titulo text-center">
      <h1 class="m-0"><%= link_to "SecurityWorld", root_path, class: "text-dark",
                                  style: "text-decoration: none" %></h1>
      <p class="text-dark m-0">La seguridad es lo primero</p>
    </div>

    <div class="offset-6 col-md-2 text-center mt-0">
      <%= link_to "", new_user_registration_path, class: "bi bi-person-circle text-dark",
                  style: "font-size: 50px" %>
    </div>
  </div>

  <nav class="navbar-expand mt-2 col-md-10" style="background-color: #202CD1">

    <div class="collapse navbar-collapse">
      <ul class="col-md-12 navbar-nav mr-auto text-center">
        <% if user_signed_in?  %>
          <li class="col-md-3 nav-item">
            <%= link_to " Categorías", categories_path, class: "nav-link text-white bi bi-card-list" %>
          </li>
          <li class="col-md-3 nav-item">
            <%= link_to " Artículos", articles_path, class: "nav-link text-white bi bi-clipboard-check" %>
          </li>
          <li class="col-md-3 nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white bi bi-info-circle" role="button"
               id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Información
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <%= link_to "Información", extras_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Noticias", extra_infos_path(:id => 1), class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Conceptos", extra_infos_path(:id => 2), class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Organismos", extra_infos_path(:id => 3), class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Leyes", extra_infos_path(:id => 4), class: "dropdown-item" %>
              </li>
            </ul>
          </li>
          <li class="col-md-3 nav-item">
            <%= link_to " Cerrar sesión", destroy_user_session_path, method: :delete,
                        class:"nav-link text-white bi bi-x-circle"  %>
          </li>
        <% else %>
          <li class="col-md-4 nav-item">
            <%= link_to " Empresa", category_path(:id => 1), class: "nav-link text-white bi bi-building" %>
          </li>
          <li class="col-md-4 nav-item">
            <%= link_to " Hogar", category_path(:id => 2), class: "nav-link text-white bi bi-house-door" %>
          </li>
          <li class="col-md-4 nav-item">
            <%= link_to " Móvil", category_path(:id => 3), class: "nav-link text-white bi bi-phone" %>
          </li>
        <% end %>
      </ul>

    </div>
  </nav>

  <%= render 'parciales/breadcrumb' %>

</header>