<h2 class="mb-2">Mi perfil</h2>
<hr class="teal accent-3 mb-4 mt-0 mx-auto border-dark" style="width: 100px;">

<table class="table col-md-10 mb-5">
  <thead>
    <tr>
      <th class="text-center">Nombre</th>
      <th class="text-center">Apellidos</th>
      <th class="text-center">Correo</th>
      <th class="text-center">Acción</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="align-middle"><%= current_user.nombre %></td>
      <td class="align-middle"><%= current_user.apellidos %></td>
      <td class="align-middle"><%= current_user.email %></td>
      <td class="align-middle">
        <%= link_to '', edit_user_registration_path(current_user.id), class: "btn btn-info text-white bi bi-pencil" %>
      </td>
    </tr>
  </tbody>

</table>

<div class="mt-5">
  <h2 class="mb-2">Mis Comentarios</h2>
  <hr class="teal accent-3 mb-4 mt-0 mx-auto border-dark" style="width: 100px;">

  <table class="table col-md-10">
    <thead>
      <tr>
        <th class="text-center">Categoría</th>
        <th class="text-center">Artículo</th>
        <th class="text-center">Comentario</th>
        <th colspan="2" class="text-center">Acciones</th>
      </tr>
    </thead>

    <tbody>
    <% @comments.each do |comment| %>
      <% if current_user.id == comment.user_id %>
        <tr>
          <% @articles.each do |article| %>
            <% if comment.article_id == article.id %>
              <% if article.category.id == 1 %>
                <td class="align-middle">Empresa</td>
              <% end %>
              <% if article.category.id == 2 %>
                <td class="align-middle">Hogar</td>
              <% end %>
              <% if article.category.id == 3 %>
                <td class="align-middle">Móvil</td>
              <% end %>
              <td class="align-middle"><%= article.nombre %></td>
              <td class="col-md-4 align-middle"><%= comment.comentario %></td>
              <td class="align-middle">
                <%= link_to '', edit_category_article_comment_path(article.category_id, comment.article_id, comment),
                            class: "btn btn-info text-white bi bi-pencil" %>
                <%= link_to '', category_article_comment_path(article.category_id, comment.article_id, comment),
                            class: "btn btn-danger text-white bi bi-trash", method: :delete,
                            data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>

  </table>
</div>