<div class="text-center">
  <h2>Artículos</h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
</div>

<table class="table col-md-10">
  <thead>
  <tr>
    <th class="text-center">Nombre</th>
    <th class="text-center">Categoría</th>
    <th class="col-md-4 text-center">Descripción</th>
    <th colspan="3" class="text-center">Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
    <tr class="text-center">
      <td class="align-middle"><%= article.nombre %></td>
      <% if article.category_id == 1 %>
        <td class="align-middle">Empresa</td>
      <% end %>
      <% if article.category_id == 2 %>
        <td class="align-middle">Hogar</td>
      <% end %>
      <% if article.category_id == 3 %>
        <td class="align-middle">Móvil</td>
      <% end %>
      <td class="align-middle"><%= article.descripcion %></td>
      <td class="align-middle">
        <% if article.id == 1 || article.id == 4 || article.id == 7 %>
          <%= link_to 'Ver Medidas', article_general_path(article, article), class: "btn btn-success text-white" %>
        <% end %>

        <% if article.id == 2 || article.id == 5 || article.id == 8 %>
          <%= link_to 'Ver Preguntas', article_question_path(article, article), class: "btn btn-secondary text-white" %>
        <% end %>

        <% if article.id == 3 || article.id == 6 || article.id == 9 %>
          <%= link_to 'Ver Ataques', article_show_admin_path(article, article), class: "btn btn-warning text-white" %>
        <% end %>

        <%= link_to '', edit_article_path(article), class: "btn btn-info text-white bi bi-pencil" %>
        <%= link_to '', article, class: "btn btn-danger text-white bi bi-trash", method: :delete,
                    data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to ' Nuevo Artículo', new_article_path, class:"btn btn-primary text-white bi bi-plus-circle" %>
</div>