<!-- Empresa -->
<!-- Medidas generales -->
<% if @article.id == 1 %>
  <h3><%= @article.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= simple_format(@article.introduccion) %></h6>

  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @generals.each do |general| %>
      <% if general.article_id == 1 %>
        <h5 class="text-decoration-underline"><strong><%= general.titulo %></strong></h5>
        <p class="m-0"><%= simple_format(general.informacion) %></p>
      <% end %>
    <% end %>
  </div>

<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @article.id == 2 %>
  <h3><%= @article.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= simple_format(@article.introduccion) %></h6>

  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @questions.each do |question| %>
      <% if question.article_id == 2 %>
        <h5 class="text-decoration-underline"><strong><%= question.pregunta %></strong></h5>
        <p class="m-0"><%= simple_format(question.respuesta) %></p>
      <% end %>
    <% end %>
  </div>

<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @article.id == 3 %>
  <h3><%= @article.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= simple_format(@article.introduccion) %></h6>

  <div class="row col-md-12">

    <% @attacks.each do |attack| %>

      <% if attack.article_id == 3 %>
        <div class="col-md-2 text-center m-md-3 mb-3">
          <div class="myInformation">
            <h4 class="mb-3"><%= attack.nombre %></h4>
            <span><%= link_to 'Detalles', attack_path(attack) %></span>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>

<% end %>
<!-- Ataques específicos -->
<!-- Empresa -->

<!-- Hogar -->
<!-- Medidas generales -->
<% if @article.id == 4 %>
  <h3><%= @article.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= simple_format(@article.introduccion) %></h6>

  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @generals.each do |general| %>
      <% if general.article_id == 4 %>
        <h5 class="text-decoration-underline"><strong><%= general.titulo %></strong></h5>
        <p class="m-0"><%= simple_format(general.informacion) %></p>
      <% end %>
    <% end %>
  </div>

<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @article.id == 5 %>
  <h3><%= @article.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= simple_format(@article.introduccion) %></h6>

  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @questions.each do |question| %>
      <% if question.article_id == 5 %>
        <h5 class="text-decoration-underline"><strong><%= question.pregunta %></strong></h5>
        <p class="m-0"><%= simple_format(question.respuesta) %></p>
      <% end %>
    <% end %>
  </div>

<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @article.id == 6 %>
  <h3><%= @article.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= simple_format(@article.introduccion) %></h6>

  <div class="row col-md-12">

    <% @attacks.each do |attack| %>

      <% if attack.article_id == 6 %>
        <div class="col-md-2 text-center m-md-3 mb-3">
          <div class="myInformation">
            <h4 class="mb-3"><%= attack.nombre %></h4>
            <span><%= link_to 'Detalles', attack_path(attack) %></span>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>

<% end %>
<!-- Ataques específicos -->
<!-- Hogar -->

<!-- Movil -->
<!-- Medidas generales -->
<% if @article.id == 7 %>
  <h3><%= @article.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= simple_format(@article.introduccion) %></h6>

  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @generals.each do |general| %>
      <% if general.article_id == 7 %>
        <h5 class="text-decoration-underline"><strong><%= general.titulo %></strong></h5>
        <p class="m-0"><%= simple_format(general.informacion) %></p>
      <% end %>
    <% end %>
  </div>

<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @article.id == 8 %>
  <h3><%= @article.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= simple_format(@article.introduccion) %></h6>

  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @questions.each do |question| %>
      <% if question.article_id == 8 %>
        <h5 class="text-decoration-underline"><strong><%= question.pregunta %></strong></h5>
        <p class="m-0"><%= simple_format(question.respuesta) %></p>
      <% end %>
    <% end %>
  </div>

<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @article.id == 9 %>
  <h3><%= @article.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= simple_format(@article.introduccion) %></h6>

  <div class="row col-md-12">

    <% @attacks.each do |attack| %>

      <% if attack.article_id == 9 %>
        <div class="col-md-2 text-center m-md-3 mb-3">
          <div class="myInformation">
            <h4 class="mb-3"><%= attack.nombre %></h4>
            <span><%= link_to 'Detalles', attack_path(attack) %></span>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>
<% end %>
<!-- Ataques específicos -->
<!-- Movil -->