<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<!-- Empresa -->
<% if @articles.id == 1 %>
  <h3><%= @articles.nombre %></h3>
  <h5><%= @articles.descripcion %></h5>
  <h6><%= @articles.texto %></h6>
<% end %>

<% if @articles.id == 2 %>
  <h3><%= @articles.nombre %></h3>
  <h5><%= @articles.descripcion %></h5>
  <h6><%= @articles.texto %></h6>
<% end %>

<% if @articles.id == 3 %>
  <h3><%= @articles.nombre %></h3>
  <h5><%= @articles.descripcion %></h5>
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Empresa -->

<!-- Hogar -->
<% if @articles.id == 4 %>
  <h3><%= @articles.nombre %></h3>
  <h5><%= @articles.descripcion %></h5>
  <h6><%= @articles.texto %></h6>
<% end %>

<% if @articles.id == 5 %>
  <h3><%= @articles.nombre %></h3>
  <h5><%= @articles.descripcion %></h5>
  <h6><%= @articles.texto %></h6>
<% end %>

<% if @articles.id == 6 %>
  <h3><%= @articles.nombre %></h3>
  <h5><%= @articles.descripcion %></h5>
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Hogar -->

<!-- Movil -->
<% if @articles.id == 7 %>
  <h3><%= @articles.nombre %></h3>
  <h5><%= @articles.descripcion %></h5>
  <h6><%= @articles.texto %></h6>
<% end %>

<% if @articles.id == 8 %>
  <h3><%= @articles.nombre %></h3>
  <h5><%= @articles.descripcion %></h5>
  <h6><%= @articles.texto %></h6>
<% end %>

<% if @articles.id == 9 %>
  <h3><%= @articles.nombre %></h3>
  <h5><%= @articles.descripcion %></h5>
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Movil -->