<!-- Empresa -->
<!-- Medidas generales -->
<% if @articles.id == 1 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @articles.id == 2 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @articles.id == 3 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>

  <div class="row col-md-12">

    <% @attacks.each do |attack| %>

      <% if attack.article_id == 3 %>
        <div class="col-md-2 text-center myInformation m-3">
          <h4 class="mb-3"><%= attack.nombre %></h4>

          <% if attack.id == 1 %>
            <span><%= link_to 'Detalles', attack_path(:id => 1) %></span>
          <% end %>
          <% if attack.id == 2 %>
            <span><%= link_to 'Detalles', attack_path(:id => 2) %></span>
          <% end %>
          <% if attack.id == 3 %>
            <span><%= link_to 'Detalles', attack_path(:id => 3) %></span>
          <% end %>
          <% if attack.id == 4 %>
            <span><%= link_to 'Detalles', attack_path(:id => 4) %></span>
          <% end %>

          <% if attack.id == 5 %>
            <span><%= link_to 'Detalles', attack_path(:id => 5) %></span>
          <% end %>
          <% if attack.id == 6 %>
            <span><%= link_to 'Detalles', attack_path(:id => 6) %></span>
          <% end %>
          <% if attack.id == 7 %>
            <span><%= link_to 'Detalles', attack_path(:id => 7) %></span>
          <% end %>
          <% if attack.id == 8 %>
            <span><%= link_to 'Detalles', attack_path(:id => 8) %></span>
          <% end %>

          <% if attack.id == 9 %>
            <span><%= link_to 'Detalles', attack_path(:id => 9) %></span>
          <% end %>
          <% if attack.id == 10 %>
            <span><%= link_to 'Detalles', attack_path(:id => 10) %></span>
          <% end %>
          <% if attack.id == 11 %>
            <span><%= link_to 'Detalles', attack_path(:id => 11) %></span>
          <% end %>
          <% if attack.id == 12 %>
            <span><%= link_to 'Detalles', attack_path(:id => 12) %></span>
          <% end %>

          <% if attack.id == 13 %>
            <span><%= link_to 'Detalles', attack_path(:id => 13) %></span>
          <% end %>
          <% if attack.id == 14 %>
            <span><%= link_to 'Detalles', attack_path(:id => 14) %></span>
          <% end %>
          <% if attack.id == 15 %>
            <span><%= link_to 'Detalles', attack_path(:id => 15) %></span>
          <% end %>
          <% if attack.id == 16 %>
            <span><%= link_to 'Detalles', attack_path(:id => 16) %></span>
          <% end %>
        </div>
      <% end %>

    <% end %>

  </div>

<% end %>
<!-- Ataques específicos -->
<!-- Empresa -->

<!-- Hogar -->
<!-- Medidas generales -->
<% if @articles.id == 4 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @articles.id == 5 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @articles.id == 6 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>

  <div class="row col-md-12">

    <% @attacks.each do |attack| %>

      <% if attack.article_id == 6 %>
        <div class="col-md-2 text-center myInformation m-3">
          <h4 class="mb-3"><%= attack.nombre %></h4>

          <% if attack.id == 17 %>
            <span><%= link_to 'Detalles', attack_path(:id => 17) %></span>
          <% end %>
          <% if attack.id == 18 %>
            <span><%= link_to 'Detalles', attack_path(:id => 18) %></span>
          <% end %>
          <% if attack.id == 19 %>
            <span><%= link_to 'Detalles', attack_path(:id => 19) %></span>
          <% end %>
          <% if attack.id == 20 %>
            <span><%= link_to 'Detalles', attack_path(:id => 20) %></span>
          <% end %>

          <% if attack.id == 21 %>
            <span><%= link_to 'Detalles', attack_path(:id => 21) %></span>
          <% end %>
          <% if attack.id == 22 %>
            <span><%= link_to 'Detalles', attack_path(:id => 22) %></span>
          <% end %>
          <% if attack.id == 23 %>
            <span><%= link_to 'Detalles', attack_path(:id => 23) %></span>
          <% end %>
          <% if attack.id == 24 %>
            <span><%= link_to 'Detalles', attack_path(:id => 24) %></span>
          <% end %>

          <% if attack.id == 25 %>
            <span><%= link_to 'Detalles', attack_path(:id => 25) %></span>
          <% end %>
          <% if attack.id == 26 %>
            <span><%= link_to 'Detalles', attack_path(:id => 26) %></span>
          <% end %>
          <% if attack.id == 27 %>
            <span><%= link_to 'Detalles', attack_path(:id => 27) %></span>
          <% end %>

        </div>
      <% end %>

    <% end %>

  </div>

<% end %>
<!-- Ataques específicos -->
<!-- Hogar -->

<!-- Movil -->
<!-- Medidas generales -->
<% if @articles.id == 7 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @articles.id == 8 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @articles.id == 9 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>

  <div class="row col-md-12">

    <% @attacks.each do |attack| %>

      <% if attack.article_id == 9 %>
        <div class="col-md-2 text-center myInformation m-3">
          <h4 class="mb-3"><%= attack.nombre %></h4>

          <% if attack.id == 28 %>
            <span><%= link_to 'Detalles', attack_path(:id => 28) %></span>
          <% end %>
          <% if attack.id == 29 %>
            <span><%= link_to 'Detalles', attack_path(:id => 29) %></span>
          <% end %>
          <% if attack.id == 30 %>
            <span><%= link_to 'Detalles', attack_path(:id => 30) %></span>
          <% end %>
          <% if attack.id == 31 %>
            <span><%= link_to 'Detalles', attack_path(:id => 31) %></span>
          <% end %>

          <% if attack.id == 32 %>
            <span><%= link_to 'Detalles', attack_path(:id => 32) %></span>
          <% end %>
          <% if attack.id == 33 %>
            <span><%= link_to 'Detalles', attack_path(:id => 33) %></span>
          <% end %>
          <% if attack.id == 34 %>
            <span><%= link_to 'Detalles', attack_path(:id => 34) %></span>
          <% end %>
          <% if attack.id == 35 %>
            <span><%= link_to 'Detalles', attack_path(:id => 35) %></span>
          <% end %>

          <% if attack.id == 36 %>
            <span><%= link_to 'Detalles', attack_path(:id => 36) %></span>
          <% end %>
          <% if attack.id == 37 %>
            <span><%= link_to 'Detalles', attack_path(:id => 37) %></span>
          <% end %>
          <% if attack.id == 38 %>
            <span><%= link_to 'Detalles', attack_path(:id => 38) %></span>
          <% end %>

        </div>
      <% end %>

    <% end %>

  </div>
<% end %>
<!-- Ataques específicos -->
<!-- Movil -->