<h3><%= @article.nombre %></h3>
<hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
<p><%= simple_format(@article.introduccion) %></p>

<!-- Empresa -->
<% if @article.nombre == "Medidas generales" && @article.id == 1 %>
  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @generals.each do |general| %>
      <% if general.article_id == 1 %>
        <h5 class="text-decoration-underline"><strong><%= general.titulo %></strong></h5>
        <p class="m-0"><%= simple_format(general.informacion) %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @article.nombre == "Preguntas frecuentes" && @article.id == 2 %>
  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @questions.each do |question| %>
      <% if question.article_id == 2 %>
        <h5 class="text-decoration-underline"><strong><%= question.pregunta %></strong></h5>
        <p class="m-0"><%= simple_format(question.respuesta) %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @category.category_id == 1 && @article.id == 3 %>
  <div class="row col-md-12">
    <% @attacks.each do |attack| %>
      <% if attack.article_id == 3 %>
        <div class="col-md-2 text-center m-md-3 mb-3">
          <div class="myInformation">
            <h4 class="mb-3"><%= attack.nombre %></h4>
            <span><%= link_to 'Detalles', category_article_attack_path(@category, @article, attack) %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<!-- Empresa -->

<!-- Hogar -->
<% if @article.nombre == "Medidas generales" && @article.id == 4 %>
  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @generals.each do |general| %>
      <% if general.article_id == 4 %>
        <h5 class="text-decoration-underline"><strong><%= general.titulo %></strong></h5>
        <p class="m-0"><%= simple_format(general.informacion) %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @article.nombre == "Preguntas frecuentes" && @article.id == 5 %>
  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @questions.each do |question| %>
      <% if question.article_id == 5 %>
        <h5 class="text-decoration-underline"><strong><%= question.pregunta %></strong></h5>
        <p class="m-0"><%= simple_format(question.respuesta) %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @category.category_id == 2 || @article.id == 6 %>
  <div class="row col-md-12">
    <% @attacks.each do |attack| %>
      <% if attack.article_id == 6 %>
        <div class="col-md-2 text-center m-md-3 mb-3">
          <div class="myInformation">
            <h4 class="mb-3"><%= attack.nombre %></h4>
            <span><%= link_to 'Detalles', category_article_attack_path(@category, @article, attack) %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<!-- Hogar -->

<!-- Movil -->
<% if @article.nombre == "Medidas generales" && @article.id == 7 %>
  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @generals.each do |general| %>
      <% if general.article_id == 7 %>
        <h5 class="text-decoration-underline"><strong><%= general.titulo %></strong></h5>
        <p class="m-0"><%= simple_format(general.informacion) %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @article.nombre == "Preguntas frecuentes" && @article.id == 8 %>
  <div class="row col-md-11 mt-5" style="text-align: left; margin-left: 5px">
    <% @questions.each do |question| %>
      <% if question.article_id == 8 %>
        <h5 class="text-decoration-underline"><strong><%= question.pregunta %></strong></h5>
        <p class="m-0"><%= simple_format(question.respuesta) %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @category.category_id == 3 || @article.id == 9 %>
  <div class="row col-md-12">
    <% @attacks.each do |attack| %>
      <% if attack.article_id == 9 %>
        <div class="col-md-2 text-center m-md-3 mb-3">
          <div class="myInformation">
            <h4 class="mb-3"><%= attack.nombre %></h4>
            <span><%= link_to 'Detalles', category_article_attack_path(@category, @article, attack) %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<!-- Movil -->