<!-- Empresa -->
<!-- Medidas generales -->
<% if @articles.id == 1 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @articles.id == 2 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @articles.id == 3 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Ataques específicos -->
<!-- Empresa -->

<!-- Hogar -->
<!-- Medidas generales -->
<% if @articles.id == 4 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @articles.id == 5 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @articles.id == 6 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Ataques específicos -->
<!-- Hogar -->

<!-- Movil -->
<!-- Medidas generales -->
<% if @articles.id == 7 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @articles.id == 8 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @articles.id == 9 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
  <div class="row offset-1">
    <div class="col-md-3 text-center myInformation">
      <h4 class="mb-3">Ataque 1</h4>
      <span>Mas info</span>
    </div>
    <div class="offset-1 col-md-3 text-center myInformation">
      <h4 class="mb-3">Ataque 2</h4>
      <span>Mas info</span>
    </div>
    <div class="offset-1 col-md-3 text-center myInformation">
      <h4 class="mb-3">Ataque 3</h4>
      <span>Mas info</span>
    </div>
  </div>

  <div class="row offset-1 mt-3">
    <div class="col-md-3 text-center myInformation">
      <h4 class="mb-3">Ataque 4</h4>
      <span>Mas info</span>
    </div>
    <div class="offset-1 col-md-3 text-center myInformation">
      <h4 class="mb-3">Ataque 5</h4>
      <span>Mas info</span>
    </div>
    <div class="offset-1 col-md-3 text-center myInformation">
      <h4 class="mb-3">Ataque 6</h4>
      <span>Mas info</span>
    </div>
  </div>
<% end %>
<!-- Ataques específicos -->
<!-- Movil -->