<!-- Empresa -->
<!-- Medidas generales -->
<% if @articles.id == 1 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @articles.id == 2 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @articles.id == 3 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>

  <div class="row col-md-12">

    <% @attacks.each do |attack| %>

      <div class="col-md-2 text-center myInformation m-3">
        <h4 class="mb-3"><%= attack.nombre %></h4>
        <span><%= link_to 'Detalles', attack_path %></span>
      </div>

    <% end %>

  </div>

<% end %>
<!-- Ataques específicos -->
<!-- Empresa -->

<!-- Hogar -->
<!-- Medidas generales -->
<% if @articles.id == 4 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @articles.id == 5 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @articles.id == 6 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>

  <div class="row col-md-12">

    <% @attacks.each do |attack| %>

      <div class="col-md-2 text-center myInformation m-3">
        <h4 class="mb-3"><%= attack.nombre %></h4>
        <span><%= link_to 'Detalles', attack_path %></span>
      </div>

    <% end %>

  </div>

<% end %>
<!-- Ataques específicos -->
<!-- Hogar -->

<!-- Movil -->
<!-- Medidas generales -->
<% if @articles.id == 7 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Medidas generales -->

<!-- Preguntas frecuentes -->
<% if @articles.id == 8 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>
<% end %>
<!-- Preguntas frecuentes -->

<!-- Ataques específicos -->
<% if @articles.id == 9 %>
  <h3><%= @articles.nombre %></h3>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
  <h6><%= @articles.texto %></h6>

  <div class="row col-md-12">

    <% @attacks.each do |attack| %>

      <div class="col-md-2 text-center myInformation m-3">
        <h4 class="mb-3"><%= attack.nombre %></h4>
        <span><%= link_to 'Detalles', attack_path %></span>
      </div>

    <% end %>

  </div>
<% end %>
<!-- Ataques específicos -->
<!-- Movil -->