<div class="text-center">
  <h2>Ataques</h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
</div>

<table class="table col-md-10">
  <thead>
  <tr>
    <th class="text-center">Nombre</th>
    <th class="text-center">Artículo</th>
    <th class="text-center">Información</th>
    <th colspan="2" class="text-center">Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% @attacks.each do |attack| %>
    <tr class="text-center">
      <td class="align-middle"><%= attack.nombre %></td>
      <% if attack.article_id == 3 %>
        <td class="align-middle">Empresa</td>
      <% end %>
      <% if attack.article_id == 6 %>
        <td class="align-middle">Hogar</td>
      <% end %>
      <% if attack.article_id == 9 %>
        <td class="align-middle">Móvil</td>
      <% end %>
      <td class="align-middle"><%= attack.informacion %></td>
      <td class="align-middle">
        <%#= link_to 'Ver', attack, class: "btn btn-info text-white" %>
        <%= link_to 'Editar', edit_attack_path(attack), class: "btn btn-info text-white" %>
        <%= link_to 'Eliminar', attack, class: "btn btn-danger text-white", method: :delete,
                    data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to 'Nuevo Ataque', new_attack_path, class:"btn btn-primary text-white" %>
</div>