<div class="text-center">
  <% if @article.id == 3 %>
    <h2>Ataques Empresa</h2>
  <% end %>
  <% if @article.id == 6 %>
    <h2>Ataques Hogar</h2>
  <% end %>
  <% if @article.id == 9 %>
    <h2>Ataques Móvil</h2>
  <% end %>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
</div>

<table class="table col-md-10">
  <thead>
  <tr>
    <th class="text-center">Nombre</th>
    <th class="text-center">Categoría</th>
    <th colspan="3" class="text-center">Acciones</th>
  </tr>
  </thead>

  <tbody>

  <!-- Ataques Empresa -->
  <% if @article.id == 3 %>

    <% @attacks.each do |attack| %>

      <tr class="text-center">
        <% if attack.article_id == 3 %>
          <td class="align-middle"><%= attack.nombre %></td>
          <td class="align-middle">Empresa</td>
          <td class="align-middle">
            <%= link_to 'Ver Contenido', article_attack_content_path(@article, attack, attack), class: "btn btn-success text-white" %>
            <%= link_to '', edit_article_attack_path(@article, attack), class: "btn btn-info text-white bi bi-pencil" %>
            <%= link_to '', article_attack_path(@article, attack), class: "btn btn-danger text-white bi bi-trash", method: :delete,
                        data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>

  <% end %>
  <!-- Ataques Empresa -->

  <!-- Ataques Hogar -->
  <% if @article.id == 6 %>

    <% @attacks.each do |attack| %>

      <tr class="text-center">
        <% if attack.article_id == 6 %>
          <td class="align-middle"><%= attack.nombre %></td>
          <td class="align-middle">Hogar</td>
          <td class="align-middle">
            <%= link_to 'Ver Contenido', article_attack_content_path(@article, attack, attack), class: "btn btn-success text-white" %>
            <%= link_to '', edit_article_attack_path(@article, attack), class: "btn btn-info text-white bi bi-pencil" %>
            <%= link_to '', article_attack_path(@article, attack), class: "btn btn-danger text-white bi bi-trash", method: :delete,
                        data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>

  <% end %>
  <!-- Ataques Hogar -->

  <!-- Ataques Movil -->
  <% if @article.id == 9 %>

    <% @attacks.each do |attack| %>

      <tr class="text-center">
        <% if attack.article_id == 9 %>
          <td class="align-middle"><%= attack.nombre %></td>
          <td class="align-middle">Móvil</td>
          <td class="align-middle">
            <%= link_to 'Ver Contenido', article_attack_content_path(@article, attack, attack), class: "btn btn-success text-white" %>
            <%= link_to '', edit_article_attack_path(@article, attack), class: "btn btn-info text-white bi bi-pencil" %>
            <%= link_to '', article_attack_path(@article, attack), class: "btn btn-danger text-white bi bi-trash", method: :delete,
                        data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>

  <% end %>
  <!-- Ataques Movil -->

  </tbody>
</table>

<div class="text-center">
  <%= link_to ' Nuevo Ataque', new_article_attack_path, class:"btn btn-primary text-white bi bi-plus-circle" %>
</div>