<!-- Ataques Empresa -->
<% if @attack.article_id == 3 %>
  <h2><%= @attack.nombre %></h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="row col-md-11" style="text-align: left; margin-left: 5px">
    <% @contents.each do |content| %>

      <% if @attack.nombre == "Malware" %>
        <% if content.attack_id == 1 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Phishing" %>
        <% if content.attack_id == 2 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Ransomware" %>
        <% if content.attack_id == 3 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Gusano" %>
        <% if content.attack_id == 4 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Virus" %>
        <% if content.attack_id == 5 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Troyano" %>
        <% if content.attack_id == 6 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Denegación de Servicio" %>
        <% if content.attack_id == 7 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Rootkit" %>
        <% if content.attack_id == 8 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Spyware" %>
        <% if content.attack_id == 9 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Adware" %>
        <% if content.attack_id == 10 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Ataques de inyección SQL" %>
        <% if content.attack_id == 11 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Cross-Site Scripting (XSS)" %>
        <% if content.attack_id == 12 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Man in The Middle" %>
        <% if content.attack_id == 13 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Tunelización de DNS" %>
        <% if content.attack_id == 14 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Spear phishing" %>
        <% if content.attack_id == 15 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Whaling" %>
        <% if content.attack_id == 16 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

    <% end %>
  </div>
<% end %>
<!-- Ataques Empresa -->

<!-- Ataques Hogar -->
<% if @attack.article_id == 6 %>
  <h2><%= @attack.nombre %></h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="row col-md-11" style="text-align: left; margin-left: 5px">
    <% @contents.each do |content| %>

      <% if @attack.nombre == "Malware" %>
        <% if content.attack_id == 17 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Phishing" %>
        <% if content.attack_id == 18 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Virus" %>
        <% if content.attack_id == 19 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Troyano" %>
        <% if content.attack_id == 20 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Spyware" %>
        <% if content.attack_id == 21 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Adware" %>
        <% if content.attack_id == 22 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Cross-Site Scripting (XSS)" %>
        <% if content.attack_id == 24 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Man in The Middle" %>
        <% if content.attack_id == 25 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Spear phishing" %>
        <% if content.attack_id == 26 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

    <% end %>

  </div>
<% end %>
<!-- Ataques Hogar -->

<!-- Ataques Movil -->
<% if @attack.article_id == 9 %>
  <h2><%= @attack.nombre %></h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="row col-md-11" style="text-align: left; margin-left: 5px">
    <% @contents.each do |content| %>

      <% if @attack.nombre == "Malware" %>
        <% if content.attack_id == 28 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Ransomware" %>
        <% if content.attack_id == 29 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Phishing" %>
        <% if content.attack_id == 30 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Gusano" %>
        <% if content.attack_id == 31 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Virus" %>
        <% if content.attack_id == 32 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Troyano" %>
        <% if content.attack_id == 33 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="m-0"><%= simple_format(content.informacion) %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Spyware" %>
        <% if content.attack_id == 34 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Adware" %>
        <% if content.attack_id == 35 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attack.nombre == "Man in The Middle" %>
        <% if content.attack_id == 36 %>
          <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

    <% end %>
  </div>
<% end %>
<!-- Ataques Movil -->