<!-- Ataques Empresa -->
<% if @attacks.article_id == 3 %>
  <h2><%= @attacks.nombre %></h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="row col-md-11" style="text-align: left; margin-left: 20px">
    <% @contents.each do |content| %>

      <% if @attacks.nombre == "Malware" %>
        <% if content.attack_id == 1 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attacks.nombre == "Phishing" %>
        <% if content.attack_id == 2 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attacks.nombre == "Ransomware" %>
        <% if content.attack_id == 3 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attacks.nombre == "Gusano" %>
        <% if content.attack_id == 4 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attacks.nombre == "Virus" %>
        <% if content.attack_id == 5 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attacks.nombre == "Troyano" %>
        <% if content.attack_id == 6 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attacks.nombre == "Denegación de Servicio" %>
        <% if content.attack_id == 7 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attacks.nombre == "Rootkit" %>
        <% if content.attack_id == 8 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attacks.nombre == "Spyware" %>
        <% if content.attack_id == 9 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

      <% if @attacks.nombre == "Adware" %>
        <% if content.attack_id == 10 %>
          <h5><strong><%= content.titulo %></strong></h5>
          <p class="mb-5"><%= content.informacion %></p>
        <% end %>
      <% end %>

    <% end %>
  </div>
<% end %>
<!-- Ataques Empresa -->

<!-- Ataques Hogar -->
<% if @attacks.article_id == 6 %>
  <h2><%= @attacks.nombre %></h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="row col-md-11" style="text-align: left; margin-left: 20px">
    <%= @attacks.informacion %>
  </div>
<% end %>
<!-- Ataques Hogar -->

<!-- Ataques Movil -->
<% if @attacks.article_id == 9 %>
  <h2><%= @attacks.nombre %></h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="row col-md-11" style="text-align: left; margin-left: 20px">
    <%= @attacks.informacion %>
  </div>
<% end %>
<!-- Ataques Movil -->