<%= form_with(model: @general) do |form| %>

  <div class="row">

    <% if @general.errors.any? %>
      <div class="alert-danger">
        <span>
          Se han encontrado
          <%= pluralize(@general.errors.count, "error") %>:
        </span>
        <ul>
          <% @general.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <strong><%= form.label :titulo, "Título" %></strong>
        <%= form.text_field :titulo, class:"form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="article_id"><strong>Artículo</strong></label>
        <select name="general[article_id]" class="form-control">
          <option value="null">Seleccione Artículo</option>
          <% Article.all.each do |c| %>
            <% if c.id == 1 || c.id == 4 || c.id == 7 %>
              <option value="<%= c.id %>" <%= @general.article_id == c.id ? "selected" : "" %>>
                <% if c.id == 1 %>
                  <%= c.nombre %> Empresa
                <% end %>

                <% if c.id == 4 %>
                  <%= c.nombre %> Hogar
                <% end %>

                <% if c.id == 7 %>
                  <%= c.nombre %> Móvil
                <% end %>
              </option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <strong><%= form.label :informacion, "Información" %></strong>
        <%= form.text_field :informacion, class:"form-control" %>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= form.submit "Guardar", class: "btn btn-primary", style: "margin-right: 10px" %>
    <% if @general.article_id == 1 %>
      <%= link_to 'Cancelar', general_path(:id => 1), class: "btn btn-warning text-white" %>
    <% elsif @general.article_id == 4 %>
      <%= link_to 'Cancelar', general_path(:id => 4), class: "btn btn-warning text-white" %>
    <% elsif @general.article_id == 7 %>
      <%= link_to 'Cancelar', general_path(:id => 7), class: "btn btn-warning text-white" %>
    <% else %>
      <%= link_to 'Cancelar', articles_path, class: "btn btn-warning text-white" %>
    <% end %>
  </div>
<% end %>