<div class="text-center">
  <% if @article.id == 1 %>
    <h2>Medidas Empresa</h2>
  <% end %>
  <% if @article.id == 4 %>
    <h2>Medidas Hogar</h2>
  <% end %>
  <% if @article.id == 7 %>
    <h2>Medidas Móvil</h2>
  <% end %>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
</div>

<table class="table col-md-10">
  <thead>
  <tr>
    <th class="col-md-3 text-center">Título</th>
    <th class="col-md-3 text-center">Categoría</th>
    <th colspan="2" class="col-md-3 text-center">Acciones</th>
  </tr>
  </thead>

  <tbody>

  <!-- Medidas Empresa -->
  <% if @article.id == 1 %>

    <% @generals.each do |general| %>

      <tr class="text-center">
        <% if general.article_id == 1 %>
          <td class="align-middle"><%= general.titulo %></td>
          <td class="align-middle">Empresa</td>
          <td class="align-middle">
            <%= link_to '', edit_general_path(general), class: "btn btn-info text-white bi bi-pencil" %>
            <%= link_to '', general, class: "btn btn-danger text-white bi bi-trash", method: :delete,
                        data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>

  <% end %>
  <!-- Medidas Empresa -->

  <!-- Medidas Hogar -->
  <% if @article.id == 4 %>

    <% @generals.each do |general| %>

      <tr class="text-center">
        <% if general.article_id == 4 %>
          <td class="align-middle"><%= general.titulo %></td>
          <td class="align-middle">Hogar</td>
          <td class="align-middle">
            <%= link_to '', edit_general_path(general), class: "btn btn-info text-white bi bi-pencil" %>
            <%= link_to '', general, class: "btn btn-danger text-white bi bi-trash", method: :delete,
                        data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>

  <% end %>
  <!-- Medidas Hogar -->

  <!-- Medidas Movil -->
  <% if @article.id == 7 %>

    <% @generals.each do |general| %>

      <tr class="text-center">
        <% if general.article_id == 7 %>
          <td class="align-middle"><%= general.titulo %></td>
          <td class="align-middle">Móvil</td>
          <td class="align-middle">
            <%= link_to '', edit_general_path(general), class: "btn btn-info text-white bi bi-pencil" %>
            <%= link_to '', general, class: "btn btn-danger text-white bi bi-trash", method: :delete,
                        data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>

  <% end %>
  <!-- Medidas Movil -->
  </tbody>
</table>

<div class="text-center">
  <%= link_to ' Nueva Medida', new_general_path, class:"btn btn-primary text-white bi bi-plus-circle" %>
</div>