<%= form_with(model: @category) do |form| %>

  <div class="row">

    <% if @category.errors.any? %>
      <div class="alert-danger">
        <span>
          Se han encontrado
          <%= pluralize(@category.errors.count, "error") %>:
        </span>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-6 mb-3">
      <div class="form-group">
        <strong><%= form.label :nombre %></strong>
        <%= form.text_field :nombre, class:"form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image, class:"form-control-file" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <strong><%= form.label :descripcion %></strong>
        <%= form.text_field :descripcion, class:"form-control" %>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= form.submit "Guardar", class: "btn btn-primary", style: "margin-right: 10px" %>
    <%= link_to 'Cancelar', categories_path, class: "btn btn-warning text-white" %>
  </div>
<% end %>