<div class="col-md-10 text-center mt-5">
  <h1>Categories#index</h1>

  <% @categories.each do |category| %>
    <% if category.id == 1 %>
      <h4><%= category.nombre %></h4>
      <h4><%= category.id %></h4>
      <% elsif category.id == 2 %>
        <h4><%= category.nombre %></h4>
        <h4><%= category.id %></h4>
        <% elsif category.id == 3 %>
          <h4><%= category.nombre %></h4>
          <h4><%= category.id %></h4>
    <% end %>

  <% end %>

  <p>Find me in app/views/categories/index.html.erb</p>
</div>