<div class="text-center">
  <h2>Categorías</h2>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
</div>

<table class="table col-md-10">
  <thead>
  <tr>
    <th class="text-center">Nombre</th>
    <th class="col-md-7 text-center">Descripción</th>
    <th colspan="2" class="text-center">Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
    <tr class="text-center">
      <td class="align-middle"><%= category.nombre %></td>
      <td class="align-middle"><%= category.descripcion %></td>
      <td class="align-middle">
        <%= link_to '', edit_category_path(category), class: "btn btn-info text-white bi bi-pencil" %>
        <%= link_to '', category, class: "btn btn-danger text-white bi bi-trash", method: :delete,
                    data: { confirm: '¿Seguro que desea realizar esta acción?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to ' Nueva Categoría', new_category_path, class:"btn btn-primary text-white bi bi-plus-circle" %>
</div>