<div class="mb-5">
  <% if @categories.id == 1 || @categories.id == 2 || @categories.id == 3 %>
    <h2><%= @categories.nombre %></h2>
    <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
    <div class="col-md-10 offset-1">
      <p><%= @categories.descripcion %></p>
    </div>
  <% end %>
</div>

<div class="row offset-1 mt-4">

  <% @articles.each do |article| %>

    <!-- Medidas generales -->
    <% if @categories.id == 1 %>

      <!-- Empresa -->
        <% if article.id == 1 %>
          <div class="col-md-3 text-center myInformation">
            <h5 class="mb-3"><strong><%= article.nombre %></strong></h5>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
            <p><%= article.descripcion %></p>
            <span><%= link_to 'Leer información', article_path(:id => 1) %></span>
          </div>
        <% end %>
      <!-- Empresa -->

      <!-- Hogar -->
      <% if article.id == 2 %>
        <div class="offset-1 col-md-3 text-center myInformation">
          <h5 class="mb-3"><strong><%= article.nombre %></strong></h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
          <p><%= article.descripcion %></p>
          <span><%= link_to 'Leer información', article_path(:id => 2) %></span>
        </div>
      <% end %>
      <!-- Hogar -->

      <!-- Movil -->
      <% if article.id == 3 %>
        <div class="offset-1 col-md-3 text-center myInformation">
          <h5 class="mb-3"><strong><%= article.nombre %></strong></h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
          <p><%= article.descripcion %></p>
          <span><%= link_to 'Leer información', article_path(:id => 3) %></span>
        </div>
      <% end %>
      <!-- Movil -->

    <% end %>
    <!-- Medidas generales -->

    <!-- Preguntas frecuentes -->
    <% if @categories.id == 2 %>

      <!-- Empresa -->
      <% if article.id == 4 %>
        <div class="col-md-3 text-center myInformation">
          <h5 class="mb-3"><strong><%= article.nombre %></strong></h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
          <p><%= article.descripcion %></p>
          <span><%= link_to 'Leer información', article_path(:id => 4) %></span>
        </div>
      <% end %>
      <!-- Empresa -->

      <!-- Hogar -->
      <% if article.id == 5 %>
        <div class="offset-1 col-md-3 text-center myInformation">
          <h5 class="mb-3"><strong><%= article.nombre %></strong></h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
          <p><%= article.descripcion %></p>
          <span><%= link_to 'Leer información', article_path(:id => 5) %></span>
        </div>
      <% end %>
      <!-- Hogar -->

      <!-- Movil -->
      <% if article.id == 6 %>
        <div class="offset-1 col-md-3 text-center myInformation">
          <h5 class="mb-3"><strong><%= article.nombre %></strong></h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
          <p><%= article.descripcion %></p>
          <span><%= link_to 'Leer información', article_path(:id => 6) %></span>
        </div>
      <% end %>
      <!-- Movil -->

    <% end %>
    <!-- Preguntas frecuentes -->

    <!-- Ataques específicos -->
    <% if @categories.id == 3 %>

      <!-- Empresa -->
      <% if article.id == 7 %>
        <div class="col-md-3 text-center myInformation">
          <h5 class="mb-3"><strong><%= article.nombre %></strong></h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
          <p><%= article.descripcion %></p>
          <span><%= link_to 'Leer información', article_path(:id => 7) %></span>
        </div>
      <% end %>
      <!-- Empresa -->

      <!-- Hogar -->
      <% if article.id == 8 %>
        <div class="offset-1 col-md-3 text-center myInformation">
          <h5 class="mb-3"><strong><%= article.nombre %></strong></h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
          <p><%= article.descripcion %></p>
          <span><%= link_to 'Leer información', article_path(:id => 8) %></span>
        </div>
      <% end %>
      <!-- Hogar -->

      <!-- Movil -->
      <% if article.id == 9 %>
        <div class="offset-1 col-md-3 text-center myInformation">
          <h5 class="mb-3"><strong><%= article.nombre %></strong></h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
          <p><%= article.descripcion %></p>
          <span><%= link_to 'Leer información', article_path(:id => 9) %></span>
        </div>
      <% end %>
      <!-- Movil -->

    <% end %>
    <!-- Ataques específicos -->

  <% end %>

</div>