<% if @categories.id == 1 %>
  <h2><%= @categories.nombre %></h2>
  <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="col-md-8 offset-2">
    <p><%= @categories.descripcion %></p>
  </div>
<% end %>

<% if @categories.id == 2 %>
  <h2><%= @categories.nombre %></h2>
  <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="col-md-8 offset-2">
    <p><%= @categories.descripcion %></p>
  </div>
<% end %>

<% if @categories.id == 3 %>
  <h2><%= @categories.nombre %></h2>
  <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="col-md-8 offset-2">
    <p><%= @categories.descripcion %></p>
  </div>
<% end %>

<div class="row offset-1">

  <div class="col-md-3 text-center myInformation">

      <% if @articles.id == 1 %>
        <h4 class="mb-3"><%= @articles.nombre %></h4>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
      <% end %>

  </div>

  <div class="offset-1 col-md-3 text-center myInformation">

    <% if @articles.id == 2 %>
      <h4 class="mb-3"><%= @articles.nombre %></h4>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
    <% end %>

  </div>

  <div class="offset-1 col-md-3 text-center myInformation">

    <% if @articles.id == 3 %>
      <h4 class="mb-3"><%= @articles.nombre %></h4>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
    <% end %>

  </div>
</div>